<!-- Jumbotron -->
<div class="jumbotron">
    <h1>Сайт регистратуры</h1>
    <p class="lead">Талонов нет, блять, и не будет!</p>
    <a class="btn btn-lg btn-default btn-block" href="/staff">Наш персонал</a>
</div>