<!-- Jumbotron -->
<div class="jumbotron">
    <h1>Сайт регистратуры</h1>
    <p class="lead">Талонов нет, блять, и не будет!</p>
    <a class="btn btn-lg btn-default btn-block" href="/users/staff">Наш персонал</a>

    {{#if isAuthenticated}}
        <p class="kit_text">КОТЕКА ВИДЯТ ТОЛЬКО АВТОРИЗОВАННЫЕ ПОЛЬЗОВАТЕЛИ!</p>

        <img class="kit" src="./img/kit.png" alt="">
    {{else}}
    {{/if}}
</div>