<link rel="stylesheet" type="text/css" href="/public/css/style.css">
<div class="staff-page">
    <ol class="staff">
        <li class="staff__part">Ф.И.О</li>
        <ol class="staff">
            <li class="staff__part">Ишметов Владислав Александрович</li>
        </ol>

        <li class="staff__part">Должность:</li>
        <ol class="staff">
            <li class="staff__part">Врач психиатр, психотерапевт</li>
        </ol>
        <li class="staff__part">Стаж:</li>
        <ol class="staff">
            <li class="staff__part">с 29 сентября несет ахинею при мне в офисе Садыха.</li>
        </ol>
    </ol>
    <br/>
    <ol class="staff">
        <li class="staff__part">Ф.И.О</li>
        <ol class="staff">
            <li class="staff__part">Садыхов Садых Нурадинович</li>
        </ol>

        <li class="staff__part">Должность:</li>
        <ol class="staff">
            <li class="staff__part">Главврач, главесть, главспать</li>
        </ol>
        <li class="staff__part">Стаж:</li>
        <ol class="staff">
            <li class="staff__part">с 29 сентября слушает мою ахинею офисе Садыха.</li>
        </ol>
    </ol>
    <br/>
    <ol class="staff">
        <li class="staff__part">Ф.И.О</li>
        <ol class="staff">
            <li class="staff__part">Садыхов Садых Нурадинович</li>
        </ol>

        <li class="staff__part">Должность:</li>
        <ol class="staff">
            <li class="staff__part">Главврач, главесть, главспать</li>
        </ol>
        <li class="staff__part">Стаж:</li>
        <ol class="staff">
            <li class="staff__part">с 29 сентября слушает мою ахинею офисе Садыха.</li>
        </ol>
    </ol>
</div>