<link rel="stylesheet" type="text/css" href="/public/css/style.css">
<div class="staff-page">
    <br class="staff__list">
        {{#each  staffList}}
            <li class=staff__item><span class="staff__title">ФИО - </span>{{this.fullName}}</li>
            <li class=staff__item><span class="staff__title">Должность - </span>{{this.position}}</li>
            <li class=staff__item><span class="staff__title">Стаж - </span>{{this.workExperience}}</li>
            <img src="/img/">
            </br>
        {{/each }}

    </ul>
</div>

<div class="btn__add">
    {{#if isAuthenticated}}
        <form class="form-signin" action="/users/addStaff" method="get">
            <button class="btn btn-lg btn-default btn-block" type="submit"> Добавление сотрудника</button>
        </form>
    {{/if}}
</div>