.staff {
    font-size: 16px;
    font-family: sans-serif;
    text-decoration: none;
    list-style-type: none;

}

.btn_pos {
    margin-top: 200px;
}

.btn_pos:hover {
    color: red;
}

.kit_text {
    text-align: center;
    transform: scale(0.5);
}

.kit {
    text-align: center;
    transform: scale(0.5);
    margin-top: -300px;
}

.staff__list {
    font-size: 16px;
    font-family: sans-serif;
    text-decoration: none;
    list-style-type: none;
    display: flex;
}
.staff__item {
    text-decoration: none;
    list-style-type: none;

}
.staff__title{
    font-weight: bold;
    font-style: italic;
}
.staff__photo {
    display: flex;
    width: 15%;
    margin-right: 55%;
}
.staff__photo_avatar {
    width: 100%;
    height: 100%;
}
.staff__person {
    padding-top: 7%;
}
.staff-page {
    padding-top: 5%;
}
.staff__list {
    justify-content: space-between;
    height: 33%;
}
