.staff {
    font-size: 16px;
    font-family: sans-serif;
    text-decoration: none;
    list-style-type: none;

}
.btn_pos {
    margin-top: 200px;
}
.btn_pos:hover {
    color: red;
}
.kit {
    text-align: center;
}